<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>字体颜色</key>
		<string>字体颜色</string>
		<key>阅读背景颜色</key>
		<string>阅读背景颜色</string>
		<key>屏幕长背光</key>
		<string>1</string>
		<key>自动打开上次阅读</key>
		<string>1</string>
		<key>阅读进度条</key>
		<string>0</string>
		<key>压缩空行</key>
		<string>0</string>
		<key>字体带下划线</key>
		<string>0</string>
		<key>字体平滑</key>
		<string>0</string>
		<key>翻页保留最后一行</key>
		<string>1</string>
		<key>夜间模式</key>
		<string>0</string>
		<key>自动全屏</key>
		<string>0</string>
		<key>无操作退出</key>
		<string>0</string>
	</dict>
	<dict>
		<key>iCloud登录</key>
		<string>iCould Cound</string>
		<key>本地口令</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
